.place__title {
    max-width: 460px;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    transition: max-width 1s ease;
}


@media screen and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
        transition: font-size 1s ease;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        max-width: 320px;
        font-size: 2.62rem;
        line-height: 2.87rem;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        width: 90%;
        max-width: 352px;
        font-size: 2rem;
        line-height: 2.2rem;
        margin: 0 auto;
    }
}