.place__text {
    max-width: 484px;
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.82rem;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 auto 24px;
    transition: max-width 1s ease;
}

.place__text:last-child {
    margin: 0 auto;
}


@media screen and (max-width: 1279px) {
    .place__text {
        max-width: 456px;
    }
}

@media screen and (max-width: 1023px) {
    .place__text {
        max-width: 352px;
        font-size: 1rem;
        line-height: 1.71rem;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        width: 90%;
    }

}