.footer__link {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.12rem;
    color: #fff;
    text-decoration: none;
    margin-block-start: 0;
    margin-block-end: 0; 
    transition: 1s ease;
}

.footer__link:hover {
    opacity: .7;
}


@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}
