.footer__copyright {
    font-weight: 400;
    font-size: .87rem;
    line-height: 1rem;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .footer__copyright {
        line-height: .87rem;
        margin: 48px 0 0;
    }
}