.cover {
    width: 96%;
    max-width: 1184px;
    min-height: 740px;
    background: linear-gradient( rgba(42, 44, 47, .3), rgba(42, 44, 47, .3) ), url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: width 1s ease;
}

.cover:hover {
    background: linear-gradient( rgba(42, 44, 47, .8), rgba(42, 44, 47, .8) ), url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1279px) {
    .cover {
        width: 100%;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        min-height: 200px;
        margin: 64px auto 0;
    }
}